html{
      scroll-behavior: smooth;
}
@media screen and (max-height: 1200px) and (max-width: 500px) and (min-width: 20px) and (min-height: 20px){
      .slider {
            width: 300px;
            text-align: center;
            overflow: hidden;
            }

      .slides > div {
            scroll-snap-align: start;
            flex-shrink: 0;
            width: 300px;
            max-height: 300px;
            margin-right: 50px;
            border-radius: 10px;
            transform-origin: center center;
            transform: scale(1);
            transition: transform 0.5s;
            position: relative;
            border: 1px solid black;
            padding: 10px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            }
      .slides > div > img{
            width: 120px;
      }
      .slideLink{
            font-size: 20px;
            padding: 0px;
      }
      .linkButtons > a > img{
            width: 30px;
      }
}


html{
      scroll-behavior: smooth;
}
*{
      margin: 0px;
}
body{
      background: linear-gradient(rgba(0, 0, 0, 0.261), rgba(0, 0, 0, 0.261)), url("404\ Not\ Found.jpg");
      font-family: 'Montserrat', sans-serif;
}
.GENERALP{
      font-size: 80px;
      text-shadow: 0px 0px 10px rgb(199, 26, 55);
      color: white;
      max-width: 800px;
      border-radius: 10px;
      cursor: default;
      transition: 0.5s ease;
}
.MYSTYLETEXT{
      font-size: 50px;
      color: white;
      max-width: 300px;
      padding-bottom: 30px;
      padding-top: 30px;
      cursor: default;
      transition: 0.3s ease;
}
.GENERALP:hover{
      box-shadow: 0px 5px 30px black;
}
.GENERALP-context{
      font-size: 25px;
      color: white;
}
.GENERALBUTTON{
      font-size: 30px;
      max-width: 200px;
      text-decoration: none;
      color: white;
      transition: 0.5s ease;
}
.GENERALLINKS{
      font-size: 30px;
      color: white;
      transition: 0.3s ease;
      padding: 5px;
}
.GENERALLINKS:hover{
      color: black;
      background-color: rgb(255, 255, 255);
      border-radius: 20px;
}
.paddingtop{
      width: 200px;
      background-color: rgb(125, 0, 0);
      border: 0.5px solid white;
      color: white;
      transition: 0.5s ease;
      background-image: url("404\ Not\ Found.jpg");
      size: 100%;
      background-blend-mode: overlay;
}
.paddingtop:hover{
      background-color: rgb(255, 255, 255);
      border: 0.5px solid black;
      color: black;
}
.paddingtop:hover > a{
      color: black;
}
.imageLogo{
      width: 100px;
      mix-blend-mode: screen;
      float: left;
      position: fixed;
}
.playMusic{
      width: 250px;
      font-size: 20px;
      background: black;
      color: white;
      border: 1px solid white;
      transition: 0.3s ease;
}
.playMusic:hover{
      color: black;
      background-color: white;
      border: 1px solid rgb(255, 255, 255);
}
.textBox{
      font-size: 25px;
      color: white;
      background-color: black;
      max-width: 250px;
      margin: 0px;
      transition: 0.3s ease;
      cursor: default;
}
.musicBox{
      background-color: black;
      display: inline-block;
      padding: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
      border-radius: 20px;
      border: 1px solid white;
}
.musicContentFromTracks{
      max-width: 100%;
      padding-bottom: 100px;
      background-color: rgb(0, 0, 0);
}
.myAlbumsP{
      font-size: 50px;
      color: white;
      transition: 0.3s ease;
      cursor: default;
      max-width: 400px;
      padding-bottom: 30px;
}
.myAlbums{
      width: 100%;
      background-color: rgb(0, 0, 0);
      padding-bottom: 100px;
}
.slideLink{
      font-size: 30px;
      display: block;
      color: white;
      transition: 0.3s ease;
      padding: 10px;
}
.slideLink:hover{
      background-color: rgba(0, 0, 0, 0.196);
      border-radius: 10px;
}
.slider > img{
      float: left;
}
.generalBlock{
      padding-bottom: 140px;
      padding-top: 140px;
      background-color: rgb(24, 24, 24);
      background-size: 100%;
      background-attachment: fixed;
}
.bigText{
      color: white;
      font-size: 60px;
      cursor: default;
}
.generalBlockA{
      color: white;
      font-size: 20px;
      transition: 0.3s ease;
      padding: 10px;
}
.generalBlockA:hover{
      background-color: rgba(255, 255, 255, 0.265);
      border-radius: 20px;
}
.linkButtons{
      position: absolute;
      padding-left: 5px;
      padding-top: 5px;
}
.linkButtons > a{
      text-decoration: none;
}
.generalBlock>a{
      color:  white;
      font-size: 20px;
      transition: 0.2s ease;
}
.generalBlock>a:hover{
      color: blue;
}
.backButton{
      color: white;
      padding-bottom: 30px;
      font-size: 35px;
}
#legendInput{
      margin-top: 30px;
}